<!DOCTYPE html>
<html lang="en">
<head>
    <title>Food Market</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/foodmarket.css" />
    <script type="text/javascript" src="js/foodmarket.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div class="container">
    <div class="banner-container">
        <div class="banner"> </div>
    </div>


    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="foodGroups">Food Groups</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="foodItemsInGroup">Nutrition</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="logout">Logout</a>
        </li>
    </ul>


    <div class="tab-content content">
        <!-- Home Page Content -->
        <div class="tab-pane container active" id="home">
            <h1>Welcome <span th:text="${user.firstName}"> </span> <span th:text="${user.lastName}"></span>!</h1>
            <p>You can find detailed information about food products, allergens and nutrition details.</p>

            <p>Start by navigating to the Food Groups menu where you can see all the major food categories along with their id. You
                can take any of these ids and then navigate to the Nutrition menu to get more details about that food category.
            </p>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
                <span class="text-muted">© 2021 Copyright:
                    <a href="#"> utsafoodmarket.com </a></span>
        </div>
    </div>
</footer>
</body>

</html>